label{
  font-weight: bold;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
input[type='checkbox']:checked:after {
  width: 19px;
  height: 19px;
  border-radius: 15px;
  top: -3px;
  left: -2px;
  position: relative;
  color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid orange;
}
input[type='checkbox']:checked:focus {
 outline: unset;
 box-shadow: unset;
}
.form-control {

 border: 1px solid #0c0c0c;
}
.form-control:focus {
 outline: unset;
 box-shadow: unset;
 border: 1px solid #ffa500;
 box-shadow: 0 0 0 0.25rem #b09e7d;
}
.textColor{
  color: grey;
}